  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200;1,400;1,600&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital@1&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

body {
    background-color: #000;
    max-width: 1500px;
    margin: 0 auto;
}

/*HEADER */

header {
    background-color: #000;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color: #dc3545;
    font-size: 3rem;

}

header span {
    color: #fff;

}

header .navegacao-primaria {
    display: flex;
    gap: 30px;
    align-items: center;
}

header .navegacao-primaria li a {    
    color: #fff;
    width: 0px;
    height: 0px;
    font-size: 1.8rem;
}

header .navegacao-primaria li a::after  {
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 4px solid transparent;
    display: block;
    transition: .9s;
}

header .navegacao-primaria li a:hover::after  {
    width: 100%;
    height: 0px;
    padding: 0px;
    border-bottom: 4px solid #dc3545;
}


/* Dowload CV */

.section-div {
    animation: inicializar .7s forwards;
    display: grid;
    background-color: #000;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 60px;
}

.section-div div {
    margin-top: 120px;
    align-self: start;
    display: grid;
    gap: 30px;
}

.section-div div h2 {
    font-family: 'Poppins';
    font-weight: 600;
    color: #f7f7f7;
    font-size: 2.2rem;
}

.section-div div p {
    font-family: 'Poppins';
    font-family: 200;
    color: #f7f7f7;
    font-size: 1.2rem;
}

.section-div div a {
    justify-self: start;
    color: #fff;
    padding: 15px 40px;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 1.2rem;

}


.section-div img {
    max-width: 100%;
}


.digitando::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .9s infinite;
}



@keyframes pisca {
    from {
        opacity: 1;
        
    }

    to {
        opacity: 0;
        
    }
}

@keyframes inicializar {
    from {
        opacity: 0;
        transform: translate3d(0,-60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


/* seção principal sobre mim */

main {
    background-color: #111;

}

main .sobre {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding: 40px;

}

.sobre_titulo{
    margin: 30px 0;
    grid-column:  1/-1;
    text-align: center;
    color: #fff;
}

.sobre_titulo h1 {
    font-size: 2.5rem;
    color: #ff5d56;
    margin-bottom: 15px;
    font-family: 'Berkshire Swash', cursive;
}

.sobre_titulo p {
    color: #707070;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position: relative;
}

.sobre_titulo div {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.sobre_titulo span {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #dc3545;
}

.sobre img {
    animation: ladoSecao .5s ease-in-out forwards;
    cursor: pointer;
    grid-row: 2;
    max-width: 100%;
    border-radius: 4px;
    filter: blur(0);

}

.sobre img:hover{
    transition: .5 case-in;
    filter: blur(1px);
}

.sobre_conteudo {
    animation: sobeSecao .6s ease-in-out forwards;
    grid-column: 2/-1;
    display: grid;
    color: #707070;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;

}

.sobre_texto h1 {
    font-size: 2.3rem;
    color: #fff;
    grid-column: 1/-1;
}

.sobre_texto h1::after{
    background-color: #ff5d56;
    height: 6px;
    width: 60px;
    margin: 20px 0 ;
    content: '';
    display: block;
    border-radius: 5px;
}

.sobre_texto p {
    font-size: 1.6rem;
    grid-row: 2;
    grid-column: 1/-1;
}

.sobre_info {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
    
}

.sobre_info i {
    color: #dc3545;
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;

}

.sobre_info p {
    font-size: 1.2rem;
}

@keyframes sobeSecao {
    from{
        transition: .5s;
        transform: translate3d(60px, 0, 0);
    }
    to{
        transform: translate3d(0, 0, 0)
    }
}

@keyframes ladoSecao {
    from{
        transition: .5s;
        transform: translate3d(-60px, 0, 0);
    }
    to{
        transform: translate3d(0, 0, 0)
    }
}

/* RESPONSIVO */

@media(max-width: 992px){
    .section-div img {
        display: none;

    }
    .section-div {
            background-image: url(imagens/richard-perfil.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            
    }

    header {
        justify-content: space-between;
        padding: 30px 70px;
    }
    
    header .navegacao-primaria{
        display: none;
    }

    header i {
        color: #f7f7f7;
        font-size: 3rem;
    }

    header .navegacao-primaria.ativado{
        position: absolute;
        background: linear-gradient(rgba(43,42,42, 0.176), rgba(46,46,46, 0.724));
        display: grid;
        top:  80px;
        color: white;
        z-index: 1;
        padding: 30px;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 0 0 4px 4px;
        right: 20px;
        animation: sobeSecao .8s ease-in-out forwards;
    }

}

@media(max-width: 992px){
    .sobre img {
        grid-column: 1/-1;
        justify-self: center;
    }

    .sobre_conteudo {
        grid-column: 1/-1;
    }
}

/* Seção service*/

.services {
    background-color: #151515;
    margin-top: -30px;
    padding: 60px;
}

.my_services {
    padding: 60px;
    color: white;
}

.my_services ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center; /* alinhamento na horizontal*/
    justify-content: center; /* alinhamento de cima para baixo*/
}

.my_services ul li {
    cursor: pointer;
    position: relative;
    padding: 10px;
    display: grid;
    gap: 30px;
    text-align:  center;
    max-width: 300px;
    align-content: center;
    height: 300px;
    background-color: #222;
}

.my_services ul li i {
    font-size: 2.7rem;
    color: #dc3545;

}

.my_services ul li h3 {
    color: #fff;
    font-size: 1.6rem;
    font-family: 'poppins';
    font-weight: 500;

}

.my_services ul li p {
    color: #707070;
    font-size: 1.1rem;
}

.my_services li::before {
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -2px;
    right: -2px;
    border-top:  2px solid transparent;
    border-right: 2px solid transparent;

}

.my_services li::after {
    content: '';
    transition: .5s ease-in-out;
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    border-bottom:  2px solid transparent;
    border-left: 2px solid transparent;

}

.my_services li:hover::before{
    width: 100%;
    height: 100%;
    border-top: 2px solid red;
    border-right: 2px solid red;
}

.my_services li:hover::after{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
}

/* EXPERIENCIE */

.my_resume{
    color: #fff;

}

.resume_generica {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 10px;
    align-items: start;
}

.resume_generica h2 {
    font-family: 'Poppins';
    font-size: 1.5rem;
    background-color: #ff5d56;
    justify-self: start;
    padding: 10px;
    border-radius: 3px;
}

.resume_generica h2 i {
    margin-right: 10px;
}

.experiencia {
    margin-bottom: 30px;
    grid-column: 1;
    grid-row: 1;
}

.education {
    margin-bottom: 30px;
    grid-column: 2;
    grid-row: 1;
}

.experience_content ul {
    color: #ff5d56;
    gap: 10px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;

}

.resume_generica .experience_content div {
    background-color: #222;
    animation: ladoSecao .5s ease-in-out forwards;
    display: none;
    padding: 40px;
    position: relative;
}

.resume_generica .experience_content div.ativo {
    display: block;
}

.resume_generica .experience_content div::before {
    content: '';
    border-right: 30px solid transparent;
    border-bottom: 30px solid #222;
    position: absolute;
    top: -20px;
    left: 30px;
    display: inline-block;    
}

.resume_generica .experience_content div span{
    color: #dc3545;
    font-family: "Poppins";
    font-weight: bold;
}

.resume_generica .experience_content div h3 {
    font-family: 'Poppins';
    margin: 10px 0;
}

.resume_generica .experience_content div p {
    color: #707070;
    font-size: 1.1rem;
}

.experience_content ul li.ativo {
    color: #3e3d3d;
}

/* MEUS DIPLOMAS E CURSOR */

.resume_generica .education_content div {
    background-color: #222;
    animation: ladoSecao .5s ease-in-out forwards;
    display: none;
    padding: 40px;
    position: relative;
}

.resume_generica .education_content div.ativo {
    display: block;
}

.resume_generica .education_content div::before {
    content: '';
    border-right: 30px solid transparent;
    border-bottom: 30px solid #222;
    position: absolute;
    top: -20px;
    left: 30px;
    display: inline-block;  
}
.education_content ul {
    color: #ff5d56;
    gap: 10px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    justify-content: center;

}

.resume_generica .education_content div span{
    color: #dc3545;
    font-family: "Poppins";
    font-weight: bold;
}

.resume_generica .education_content div h3 {
    font-family: 'Poppins';
    margin: 10px 0;
}

.resume_generica .education_content div p {
    color: #707070;
    font-size: 1.1rem;
}

.education_content ul li.ativo {
    color: #3e3d3d;
}


/* SKILLS */

.cursos {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 30px;
    gap: 30px;
    justify-content: center;
}

.my_skill {
    display: grid;
}

.my_skill h2{
    padding: 10px 30px;
    border-radius: 3px;
    background-color: #ff5d56;
    font-size: 1.5rem;
    font-family: 'Poppins';
    margin-bottom: 30px;
    justify-self: start;
}

.my_skill h2 i {
    padding-right: 10px;
}

.skill_content {
    font-size: 1.5rem;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 10px;
}

.skill_content h3 {
    font-size: 1.5rem;
}

.skill_content ul {
    display: flex;
}

@media (max-width: 1089px){
    .resume_generica .experience_content, .education_content{
        justify-self: center;
        grid-column: 1/-1;
    }
    
    .resume_generica .education {
        grid-column: 1/-1;
        grid-row: 3;
        justify-self: center;
        margin: 30px 0;
    }

    .resume_generica .experiencia {
        grid-column: 1/-1;
        grid-row: 1;
        justify-self: center;
        
    }

    .cursos .my_skill {
        grid-column: 1/-1;
        justify-self: center;
        
        
    }

    .cursos .skill_content {
        grid-column: 1/-1;
        
    }
   
}

